* {
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 26px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: aquamarine;
    color: white;
}
.nav--button {
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    padding: 35px 15px;
}
.nav--button:hover {
    background-color: teal;
    color: white;
}
.nav--block1 {
    margin-left: 40px;
}
.nav--block2 {
    margin-right: 40px;
    display: flex;
    flex-wrap: nowrap;
}
.nav--toggle {
    display: none;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.column {
    flex: 25%;
    max-width: 25%;
}
.column img {
    vertical-align: middle;
    width: 100%;
}
