@media screen and (max-width: 500px) {
    .nav--block2 {
        display: none;
    }
    .nav--toggle {
        display: block;
        margin-right: 40px;
    }
    .column {
        flex: 100%;
        max-width: 100%;
    }
}